
body{
  margin: 0;
  
}
.container{
    background-color: #263343;
    color: black;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
}

a{
  text-decoration: none;
  color: darkgrey;
}

.container .navbar_logo{
  font-size: 20px;
}
.container .navbar_logo i {
  color: darkgrey;
  transition: all .4s;
}

.container .navbar_logo h {
  color: darkgrey;
  transition: all .4s;
}
.container .navbar_logo i:hover{
  color: orange;
}
.container .navbar_logo h:hover{
  color: orange;
}
.container .navbar_menu{
  padding-left: 0px;
  display: flex;
  color: darkgrey;
}

.container .navbar_menu li{
  padding: 8px 12px;
  list-style: none;
  transition: all 400ms;
}

.container .navbar_menu li:hover{
  border-radius: 4px;
  background-color: coral;
  transform: scale(1.3);
}

.container .navbar_icons{
  padding-left: 0px;
  display: flex;
  color: darkgrey;
}

.container .navbar_icons li{
  padding: 8px 12px;
  list-style: none;
  transition: all 400ms;
  font-size: 20px;
}

.container .navbar_icons li:hover{
  transform: scale(1.3);
}