
body{
  margin: 0;
  font-family: 'Source Sans Pro';
}
.container{
    background-color: #263343;
    color: black;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
}

a{
  text-decoration: none;
  color: darkgrey;
}

.container .navbar_logo{
  font-size: 20px;
}
.container .navbar_logo i {
  color: darkgrey;
  transition: all .4s;
}

.container .navbar_logo h {
  color: darkgrey;
  transition: all .4s;
}
.container .navbar_logo i:hover{
  color: orange;
}
.container .navbar_logo h:hover{
  color: orange;
}
.container .navbar_menu{
  padding-left: 0px;
  display: flex;
  color: darkgrey;
}

.container .navbar_menu li{
  padding: 8px 12px;
  list-style: none;
  transition: all 400ms;
}

.container .navbar_menu li:hover{
  border-radius: 4px;
  background-color: coral;
  transform: scale(1.1);
}

.container .navbar_icons{
  padding-left: 0px;
  display: flex;
  color: darkgrey;
}

.container .navbar_icons li{
  padding: 8px 12px;
  list-style: none;
  transition: all 400ms;
  font-size: 20px;
}

.container .navbar_icons li:hover{
  transform: scale(1.3);
}

.container .bars{
  display: none;
  position: absolute;
  right: 32px;
  top: 30px;
  font-size:  24px;
  color: darkgrey;
  transition: all .4s;
}
.container .bars:hover{
  color:coral ;
}

@media screen and (max-width: 768px) {
  .container{
    flex-direction: column;
    align-items: flex-start;
  }
  .container .navbar_menu{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 8px 50px;
  }

  .container .navbar_menu li{
    width: 100%;
    text-align: center;
    transform: scale(1.0)
  }

  .container .navbar_icons{
    display: none;
  justify-content: center;
  width: 100%;
  }

  .container .bars{
    display: block;
  }
}